<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/html.css" />
    <link rel="shortcut icon" href="img/s-logo-blue.ico" type="image/x-icon">

    <script src="https://kit.fontawesome.com/a7f2dbe35a.js" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>

    <title>HTML e CSS</title>
</head>

<body>
    <!--Cabeçalho-->
    <header class="header">
        <!--NAVBAR-->
        <div id="mainbox" onclick="openFunction()">
            &#9776;
             Abrir Menu
        </div>
        <div id="menu" class="menu-lateral">
            <a href="/">Inicio</a>
            <a href="/sobreMim">Sobre Samuel</a>
            <a href="#" class="closebtn" onclick="closeFunction()">&times;</a>
        </div>
        <div class="div-header">
            <h1>
                Vamos aprender HTML e CSS ?
            </h1>
            <div class="container">
                <div class="imagem-container">
                    <img src="img\htmlecss2.png">
                    <div class="box-shadow"></div>
                </div>
            </div>
        </div>
    </header>
    <div class="principal">
        <!--conteudo principal da pagina-->
        <main class="main">
            <div class="div-html">
                <h2 class="h2-titulo-html">
                    Mas afinal o que é HTML ?
                </h2>
                <p class="p-html">
                    HTML abreviação para a expressão inglesa HyperText Markup Language,
                    que significa: "Linguagem de Marcação de Hipertexto" é uma linguagem
                    de marcação utilizada na construção de páginas na Web. Documentos HTML
                    podem ser interpretados por navegadores. A tecnologia é fruto da junção
                    entre os padrões HyTime e SGML. Então "ela" não é uma linguagem de
                    programação.
                </p>
            </div>
            <div class="div-css">
                <h2 class="h2-titulo-css">
                    E o que é CSS ?
                </h2>
                <p class="p-CSS">
                    Cascading Style Sheets é um mecanismo para adicionar estilo a um documento web.
                    O código CSS pode ser aplicado diretamente nas tags ou ficar contido dentro das
                    tags também é possível, em vez de colocar a formatação dentro do documento,
                    criar um link para um arquivo CSS que contém os estilos. Normalmente o CSS é 
                    usado com o HTML, como nesse projeto !
                </p>
            </div>
            <div class="div-comecar">
                <h2 class="h2-titulo-comecar">
                    E por onde começar ?
                </h2>
                <p class="p-comecar">
                    Para alguem que deseja começar a programar web um dos caminhos mais
                    comuns a se seguir e ir para o HTML5 e o CSS3, que atualmente é usado
                    por diversas empresas e sites ao redor do mundo, alem de seu nivel de
                    complexidade nao ser muito auto.
                </p>
            </div>
        </main>
    </div>
    <!--rodapé-->
    <footer class="footer">
        <div class="div-footer">
            <h3 class="h3-titulo-footer">
                Gostou desse pequeno projeto ?
            </h3>
            <div class="div-footer-p1">
                <p>
                    Tem alguma critica ou dica para mim ? <br>
                    Fale comigo!<br>
                </p>
            </div>
            <div class="social-menu">
                <a href="https://www.linkedin.com/in/samuel-mendes-699979190/" target="_blank" rel="external"><i
                        class="fa fa-linkedin"></i></a>
                <a href="https://github.com/MendesS4" target="_blank" rel="external"><i class="fa fa-github"></i></a>
                <a href="https://www.instagram.com/mendes.s4/" target="_blank" rel="external"><i
                        class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/samuel.mendes.923171/" target="_blank" rel="external"><i
                        class="fab fa-facebook-square"></i></a>
            </div>
            <div class="div-footer-p2">
                <p>
                    email de contato:<br>
                    mendessamuel1@outlook.com
                </p>
            </div>
        </div>
    </footer>
 
</body>

</html>