<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/sobremim.css" />
    <link rel="shortcut icon" href="img/s-logo-blue.ico" type="image/x-icon">
    <script src="js/script.js"></script>
    <script src="https://kit.fontawesome.com/a7f2dbe35a.js" crossorigin="anonymous"></script>

    <title>Sobre Samuel</title>
</head>

<body>
    <!--Cabeçalho-->
    <header class="header">
        <!--NAVBAR-->
        <div id="mainbox" onclick="openFunction()">
            &#9776;
             Abrir Menu
        </div>
        <div id="menu" class="menu-lateral">
            <a href="/">Inicio</a>
            <a href="/htmlecss">HTML e CSS</a>
            <a href="#" class="closebtn" onclick="closeFunction()">&times;</a>
        </div>
        <div class="div-header">
            <h1>
                Quem é Samuel ?
            </h1>
            <p>
                Sem partir para o lado filósofo<br>
                um breve resumo sobre mim e minhas habilidades
            </p>
            <div class="container">
                <div class="imagem-container">
                    <img src="img\fotosamuelPerfil.jpg">
                    <div class="box-shadow"></div>
                </div>
            </div>
        </div>
    </header>
    <div class="principal">
        <!--conteudo principal da pagina-->
        <main class="main">
            <div class="div-texto-inicial">
                <p class="p-texto-inicial">
                    Meu nome é Samuel Mendes, nascido dia 09 de fevereiro de 2004 em Bluemnau,
                    filho de Marlene e Ronilson, no momento que desenvolvo esse projeto tenho
                    17 anos.
                </p>
            </div>
            <div class="div-class-planos">
                <h2 class="h2-planos">
                    Quais são meus planos ?
                </h2>
                <p class="p-planos">
                    Estou sempre atrás do meu desenvolvimento profissional e pessoal,
                    acredito que quanto mais eu evolua como pessoa mais oportunidades
                    surgiram no meu caminho. Um dos meus projetos é trabalhar fora do Brasil,
                    encontrar um oportunidade em lugares como Canada, EUA e Inglaterra.
                </p>
            </div>
            <div class="div-class-habilidades">
                <h2 class="h2-habilidades">
                    Quais minhas habilidades ?
                </h2>
                <p class="p-habilidades">
                    No momento que desenvolvo esse projeto tenho conhecimentos diversos. Em tecnologias
                    de desenvolvimento de sistemas: MySQL, MongoDB, HTML5, CSS3, JS, NodeJS e como editor
                    de codigo Visual Studio Code. Ingles intermediario e tenho uma boa capacidade de comunicação
                    e disposto a eprender o que é preciso. Ambas tecnologias usadas e citadas nesse projeto tive
                    contato no programa regional de minha cidade chamado Entra21, que capacita profissionais para
                    o mercado de trabalho, e nesse programa eu fui parte de uma equipe de TCC no qual desenvolvemos
                    um e-comerce pet que pode ser visto no GitHub. Devo muito a essa equipe, acredito que sem a 
                    motivação deles nao estaira mais no mercado de TI.  
                </p>
            </div>
        </main>
        <div class="imagem-container-tecnologias">
            <img src="img\mysql.jpg" class="mysql">
            <img src="img\mongodb.jpg" class="mongodb">
            <img src="img\html52.png" class="html5">
            <img src="img\css3.png" class="css3">
            <img src="img\js.png" class="js">
            <img src="img\nodejs.jpg" class="node">
        </div>
    </div>
    <!--rodapé-->
    <footer class="footer">
        <div class="div-footer">
            <h3 class="h3-titulo-feedback">
                Gostou desse pequeno projeto ?
            </h3>
            <div class="div-footer-p1">
                <p class="p-feedback">
                    Tem alguma critica ou dica para mim ? <br>
                    Fale comigo!<br>
                </p>
            </div>
            <div class="social-menu">
                <a href="https://www.linkedin.com/in/samuel-mendes-699979190/" target="_blank" rel="external"><i
                        class="fa fa-linkedin"></i></a>
                <a href="https://github.com/MendesS4" target="_blank" rel="external"><i class="fa fa-github"></i></a>
                <a href="https://www.instagram.com/mendes.s4/" target="_blank" rel="external"><i
                        class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/samuel.mendes.923171/" target="_blank" rel="external"><i
                        class="fab fa-facebook-square"></i></a>
            </div>
            <div class="div-footer-p2">
                <p>
                    email de contato:<br>
                    mendessamuel1@outlook.com
                </p>
            </div>
        </div>
    </footer>
</body>

</html>